@import "../Styles/Variables/Variables.scss";
@import "../Styles/breakpoints.scss";
.about {
  background-color: $prim-black;
  padding-top: 50px;
}
.about-title {
  margin-top: 50px;
  text-align: center;
  color: $prim-pink;
  font-size: 2.5em;
  font-weight: 500;
  @include media("<=laptop") {
    font-size: 2.3em;
  }
  @include media("<=bigPhone") {
    font-size: 1.8em;
  }
}
.about-cont {
  font-size: 1.5em;
  font-weight: 400;
  margin: 50px 0;
  padding: 0;
  text-align: center;
  color: $prim-teal;
  @include media("<=laptop") {
    font-size: 1.3em;
  }
  @include media("<=bigPhone") {
    font-size: 1em;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.diff-rec {
  margin-top: 20px;
  display: inline-block;
  background-color: $sec-black;
  border-radius: 20px;
  width: 100%;
  @include media("<=laptop") {
    width: 99%;
    height: 550px;
  }
  height: 670px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.col-1,
.col-2,
.col-3 {
  background-color: $sec-black;
  color: $prim-pink;
  text-align: center;

  border: $prim-pink 1px solid;
}
.col-1 {
  border-top-left-radius: 20px;
}
.col-3 {
  border-top-right-radius: 20px;
}
.col-title {
  color: $prim-pink;
  font-size: 1.8em;
  margin-top: 20px;
  background-color: $sec-black;
  @include media("<=laptop") {
    font-size: 1.4em;
  }
  @include media("<=bigPhone") {
    font-size: 1.15em;
  }
}

.svg-res,
.svg-cre,
.svg-dyn {
  background-color: transparent;
  display: block;
  margin: auto;
  margin-top: 80px;
  @include media("<=laptop") {
    width: 120px;
    height: 120px;
  }
  @include media("<=bigPhone") {
    width: 100px;
    height: 100px;
  }
}

.svg-dyn {
  margin-top: 25px;
  @include media("<=laptop") {
    margin-top: 32px;
  }
  @include media("<=bigPhone") {
    margin-top: 37px;
  }
}
.col-subs {
  font-weight: 400;
  background-color: $sec-black;
  color: $prim-pink;
  margin-top: 10px;
  font-size: 1.5em;
  @include media("<=laptop") {
    font-size: 1.2em;
    margin-top: 0;
  }
  @include media("<=bigPhone") {
    font-size: 1.1em;
    margin-top: 0;
  }
}
.sub-exp {
  background-color: $sec-black;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  color: $prim-white;
  @include media("<=laptop") {
    font-size: 0.85em;
    margin-right: 5px;
    margin-left: 5px;
  }
  @include media("<=bigPhone") {
    font-size: 0.75em;
    margin-right: 5px;
    margin-left: 5px;
  }
}
.lang,
.dev,
.oth {
  font-weight: 400;
  background-color: $sec-black;
  color: $prim-pink;
  margin-top: 30px;
  font-size: 1.5em;
  @include media("<=laptop") {
    font-size: 1.2em;
    margin-top: 20px;
  }
  @include media("<=bigPhone") {
    font-size: 1.1em;
    margin-top: 20px;
  }
}
.dev-list {
  margin-top: 10px;
  background-color: $sec-black;
}
.dev-list > li {
  background-color: $sec-black;
  list-style: none;
  margin-top: 10px;
  font-size: 1.1em;
  color: $prim-white;
  @include media("<=laptop") {
    font-size: 0.9em;
    margin-top: 5px;
  }
  @include media("<=bigPhone") {
    font-size: 0.85em;
    margin-top: 5px;
  }
}
