@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap");
/**
*
* Testing
*
**/
.about {
  background-color: #323232;
  padding-top: 50px;
}

.about-title {
  margin-top: 50px;
  text-align: center;
  color: #f30067;
  font-size: 2.5em;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .about-title {
    font-size: 2.3em;
  }
}

@media (max-width: 450px) {
  .about-title {
    font-size: 1.8em;
  }
}

.about-cont {
  font-size: 1.5em;
  font-weight: 400;
  margin: 50px 0;
  padding: 0;
  text-align: center;
  color: #08d9d6;
}

@media (max-width: 1024px) {
  .about-cont {
    font-size: 1.3em;
  }
}

@media (max-width: 450px) {
  .about-cont {
    font-size: 1em;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.diff-rec {
  margin-top: 20px;
  display: inline-block;
  background-color: #262626;
  border-radius: 20px;
  width: 100%;
  height: 670px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .diff-rec {
    width: 99%;
    height: 550px;
  }
}

.col-1,
.col-2,
.col-3 {
  background-color: #262626;
  color: #f30067;
  text-align: center;
  border: #f30067 1px solid;
}

.col-1 {
  border-top-left-radius: 20px;
}

.col-3 {
  border-top-right-radius: 20px;
}

.col-title {
  color: #f30067;
  font-size: 1.8em;
  margin-top: 20px;
  background-color: #262626;
}

@media (max-width: 1024px) {
  .col-title {
    font-size: 1.4em;
  }
}

@media (max-width: 450px) {
  .col-title {
    font-size: 1.15em;
  }
}

.svg-res,
.svg-cre,
.svg-dyn {
  background-color: transparent;
  display: block;
  margin: auto;
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .svg-res,
  .svg-cre,
  .svg-dyn {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 450px) {
  .svg-res,
  .svg-cre,
  .svg-dyn {
    width: 100px;
    height: 100px;
  }
}

.svg-dyn {
  margin-top: 25px;
}

@media (max-width: 1024px) {
  .svg-dyn {
    margin-top: 32px;
  }
}

@media (max-width: 450px) {
  .svg-dyn {
    margin-top: 37px;
  }
}

.col-subs {
  font-weight: 400;
  background-color: #262626;
  color: #f30067;
  margin-top: 10px;
  font-size: 1.5em;
}

@media (max-width: 1024px) {
  .col-subs {
    font-size: 1.2em;
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .col-subs {
    font-size: 1.1em;
    margin-top: 0;
  }
}

.sub-exp {
  background-color: #262626;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  color: #eaeaea;
}

@media (max-width: 1024px) {
  .sub-exp {
    font-size: 0.85em;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 450px) {
  .sub-exp {
    font-size: 0.75em;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.lang,
.dev,
.oth {
  font-weight: 400;
  background-color: #262626;
  color: #f30067;
  margin-top: 30px;
  font-size: 1.5em;
}

@media (max-width: 1024px) {
  .lang,
  .dev,
  .oth {
    font-size: 1.2em;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .lang,
  .dev,
  .oth {
    font-size: 1.1em;
    margin-top: 20px;
  }
}

.dev-list {
  margin-top: 10px;
  background-color: #262626;
}

.dev-list > li {
  background-color: #262626;
  list-style: none;
  margin-top: 10px;
  font-size: 1.1em;
  color: #eaeaea;
}

@media (max-width: 1024px) {
  .dev-list > li {
    font-size: 0.9em;
    margin-top: 5px;
  }
}

@media (max-width: 450px) {
  .dev-list > li {
    font-size: 0.85em;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=About.css.map */