@import "../Styles/Variables/Variables.scss";
@import "../Styles/breakpoints.scss";
.contact {
  background-color: $prim-black;
  padding-top: 70px;
  position: relative;
  display: grid;
  grid-template-rows: 10% 60% 30%;
}

.contact-title {
  text-align: center;
  color: $prim-pink;
  font-size: 2.5em;
  font-weight: 500;
  @include media("<=laptop") {
    font-size: 2.3em;
  }
}
.contact > form {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0;
  margin-bottom: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer > h2 {
  position: absolute;
  bottom: 45px;
  color: $prim-pink;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  @include media("<=bigPhone") {
    font-size: 1.3em;
    bottom: 20px;
  }
}
.footer > h3 {
  position: absolute;
  bottom: 25px;
  color: $sakura;
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  width: 100%;
  @include media("<=bigPhone") {
    font-size: 0.9em;
    bottom: 10px;
  }
}
.to-top {
  color: $sakura;
  position: absolute;
  bottom: 100px;
  cursor: pointer;
}
.to-top:hover {
  color: $prim-pink;
  transform: translateY(-0.25em);
  transition: all 0.45s;
}
.submit {
  padding: 5px 18px;
  margin-top: 10px;
  border-radius: 7px;
  border: none;
  font-size: 1.2em;
  @include media("<=laptop") {
    font-size: 1em;
  }
  font-weight: 600;
  color: $sec-black;
  background-color: $prim-pink;
  border: 2px solid $prim-pink;
  cursor: pointer;

  &:hover {
    border: 2px solid $prim-pink;
    background-color: $prim-black;
    color: $prim-pink;
    font-weight: 500;
    transition: all 0.3s;
  }
}
.name,
.eMail,
.message {
  width: 40%;
  @include media("<=laptop") {
    width: 55%;
  }
  @include media("<=desktop") {
    width: 45%;
  }
  padding: 10px 5px;
  margin: 15px 0;
  border: 1px solid $prim-teal;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  color: $prim-teal;
  background-color: $sec-black;
  &:focus {
    outline: none;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $sec-black inset !important;
  -webkit-text-fill-color: $prim-teal !important;
  box-shadow: 0 0 0 30px $sec-black inset !important;
}
::-webkit-input-placeholder {
  color: #d2d2d2;
}
::-moz-placeholder {
  color: #d2d2d2;
}
:-ms-input-placeholder {
  color: #d2d2d2;
}
:-moz-placeholder {
  color: #d2d2d2;
}
.message {
  height: 150px;
}
