@import "../Styles/Variables/Variables.scss";

.contact {
  background-color: $prim-black;
  padding-top: 150px;
  position: relative;
}

.contact-title {
  text-align: center;
  color: $prim-pink;
  font-size: 2.5em;
  font-weight: 500;
}
.contact > form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 20px;
}
.footer > h4 {
  position: absolute;
  bottom: 0;
  color: $prim-pink;
  width: 100%;
  text-align: center;
}

.name,
.eMail,
.message {
  width: 40%;
  padding: 10px 5px;
  margin: 15px 0;
  border: 1px solid $prim-teal;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  color: $prim-teal;
}
