@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap");
/**
*
* Testing
*
**/
.contact {
  background-color: #323232;
  padding-top: 70px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 60% 30%;
      grid-template-rows: 10% 60% 30%;
}

.contact-title {
  text-align: center;
  color: #f30067;
  font-size: 2.5em;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .contact-title {
    font-size: 2.3em;
  }
}

.contact > form {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 0;
  margin-bottom: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > h2 {
  position: absolute;
  bottom: 45px;
  color: #f30067;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

@media (max-width: 450px) {
  .footer > h2 {
    font-size: 1.3em;
    bottom: 20px;
  }
}

.footer > h3 {
  position: absolute;
  bottom: 25px;
  color: #ffb7c5;
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  width: 100%;
}

@media (max-width: 450px) {
  .footer > h3 {
    font-size: 0.9em;
    bottom: 10px;
  }
}

.to-top {
  color: #ffb7c5;
  position: absolute;
  bottom: 100px;
  cursor: pointer;
}

.to-top:hover {
  color: #f30067;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.submit {
  padding: 5px 18px;
  margin-top: 10px;
  border-radius: 7px;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  color: #262626;
  background-color: #f30067;
  border: 2px solid #f30067;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .submit {
    font-size: 1em;
  }
}

.submit:hover {
  border: 2px solid #f30067;
  background-color: #323232;
  color: #f30067;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.name,
.eMail,
.message {
  width: 40%;
  padding: 10px 5px;
  margin: 15px 0;
  border: 1px solid #08d9d6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 1em;
  color: #08d9d6;
  background-color: #262626;
}

@media (max-width: 1024px) {
  .name,
  .eMail,
  .message {
    width: 55%;
  }
}

@media (max-width: 1366px) {
  .name,
  .eMail,
  .message {
    width: 45%;
  }
}

.name:focus,
.eMail:focus,
.message:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #262626 inset !important;
  -webkit-text-fill-color: #08d9d6 !important;
  box-shadow: 0 0 0 30px #262626 inset !important;
}

::-webkit-input-placeholder {
  color: #d2d2d2;
}

::-moz-placeholder {
  color: #d2d2d2;
}

:-ms-input-placeholder {
  color: #d2d2d2;
}

:-moz-placeholder {
  color: #d2d2d2;
}

.message {
  height: 150px;
}
/*# sourceMappingURL=Contact.css.map */