@import "../Styles/Variables/Variables.scss";

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

p {
  color: $prim-teal;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 500;
  padding: 370px 0;
}
.text-cont {
  height: 100vh;
}
.arrow-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  color: $prim-pink;
  bottom: 0;
  bottom: 50px;
  width: 50px;
  height: 50px;
  animation: bounce 1200ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.text-name {
  color: $prim-pink;
}
.intro {
  flex: 0.6;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}
.intro::-webkit-scrollbar {
  display: none;
}
.sections {
  width: 100%;
  > * {
    height: 100vh;
  }
}
