@import "../Styles/Variables/Variables.scss";
.link-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: 100px;
  margin-left: 40px;
  position: absolute;
  top: 400px;
}
.link-icon {
  margin: 16px;
  color: $sakura;
}
.link-comp {
  flex: 0.2;
  height: 100%;
  position: relative;
}
.line {
  position: fixed;
  top: 350px;
}
#codepen:hover,
#linkedin:hover,
#github:hover,
#instagram:hover {
  color: $prim-pink;
  transform: translateY(-0.25em);
  transition: all 0.45s;
}
