@import "../Styles/Variables/Variables.scss";
@import "../Styles/breakpoints.scss";
.navbar {
  flex: 0.2;
  z-index: 1;
  background-color: $prim-black;
}
.hamburger {
  display: none;
}
.navbar-links {
  float: right;
  list-style: none;
  font-size: 1.4em;
  margin-right: 70px;
  text-align: right;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 230px;
  position: fixed;
  right: 0;
  z-index: 1;
  @include media("<=laptop") {
    font-size: 1.2em;
    margin-right: 40px;
  }
}
.nav-link {
  text-decoration: none;
  color: $sakura;
}
.nav-item {
  margin-top: 20px;
}
.nav-link:hover {
  color: $prim-pink;
}
.navbar-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: relative;
  z-index: 1;
}
.nav-line {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  @include media("<=laptop") {
    margin-right: 10px;
  }
}
.line-main {
  stroke-width: 3px;
  position: fixed;
}
.button-neon {
  cursor: pointer;
  color: $prim-pink;
  border: $prim-pink 2px solid;
  padding: 0.35em;
  border-radius: 12px;
  text-shadow: 0 0 0.45em $prim-pink;
  box-shadow: inset 0 0 0.3em 0 $prim-pink, 0 0 0.3em 0 $prim-pink;
  font-weight: 500;
}
.button {
  margin-top: 40px;
}

.button-neon:hover,
.button-neon:focus {
  background: $prim-pink;
  color: $prim-black;
  text-shadow: none;
  transition: all 0.45s;
}
