@import "../Styles/Variables/Variables.scss";
.work {
  position: relative;
  background-color: $prim-black;
}
.work-title {
  padding-top: 50px;
  margin-top: 200px;
  text-align: center;
  color: $prim-pink;
  font-size: 2.5em;
  font-weight: 500;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 30px;
}

.proj-cont {
  background-color: $sec-black;
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 15px;
}

.proj-cont > h2 {
  color: $prim-pink;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  position: absolute;
  background-color: $sec-black;
  top: 70px;
  margin-left: 20px;
}

.proj-cont > p {
  position: absolute;
  top: 120px;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  background-color: $sec-black;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: $prim-teal;
}
.proj-grid {
  background-color: $sec-black;
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 15px;
}

.proj-grid > h2 {
  color: $prim-pink;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  position: absolute;
  background-color: $sec-black;
  top: 70px;
  margin-left: 20px;
}

.proj-grid > p {
  position: absolute;
  top: 120px;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  background-color: $sec-black;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: $prim-teal;
}

.dep-bot {
  position: absolute;
  bottom: 20px;
  list-style: none;
  background-color: $sec-black;
  margin-left: 20px;
  overflow: hidden;
  list-style-type: none;
}

.dep-bot > li {
  background-color: $sec-black;
  color: $prim-teal;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  font-size: 1.05em;
  opacity: 0.7;
}
.proj-folder,
.proj-git,
.proj-ext {
  color: $sakura;
  background-color: $sec-black;
  position: absolute;
}
.proj-ext {
  right: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.proj-git {
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}
.proj-folder {
  left: 0;
  margin-left: 20px;
  margin-top: 15px;
}

.proj-hover > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 98%;
  width: 98%;
  border-radius: 15px;
  filter: blur(1px);
  -webkit-filter: blur(2px);
  z-index: 1;
}
.proj-hover > h2 {
  position: absolute;
  z-index: 2;
  color: $prim-pink;
  font-weight: 500;
  font-size: 1.7em;
  text-align: center;
  background-color: transparent;
  width: 100%;
  top: 60px;
}
.git-hover {
  z-index: 2;
  background-color: transparent;
  color: $sakura;
  position: absolute;
  bottom: 80px;
  left: 90px;
}
.ext-hover {
  z-index: 2;
  background-color: transparent;
  color: $sakura;
  position: absolute;
  bottom: 80px;
  right: 70px;
}
.hover2 > img {
  height: 50%;
}
.hover2 > h2 {
  top: 40px;
}
.hover2 .git-hover,
.hover3 .git-hover {
  left: 130px;
  bottom: 95px;
}
