@import "../Styles/Variables/Variables.scss";
@import "../Styles/breakpoints.scss";
.work {
  padding-top: 100px;
  @include media("<=laptop") {
    padding-top: 0;
  }
  @include media("<=desktop", ">laptop") {
    margin-top: 250px;
  }
  position: relative;
  background-color: $prim-black;
  @include media("<=bigPhone") {
    height: 170vh;
  }
}
.work-title {
  text-align: center;
  color: $prim-pink;
  font-size: 2.5em;
  font-weight: 500;
  @include media("<=laptop") {
    margin-top: 250px;
    font-size: 2.3em;
  }
  @include media("<=bigPhone") {
    margin-top: 250px;
    font-size: 2.1em;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 30px;
  @include media("<=laptop") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  @include media("<=Ldesktop", ">laptop") {
    gap: 20px;
  }
  @include media("<=desktop", ">laptop") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 60px;
  }
  @include media("<=bigPhone") {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    width: 100%;
    left: 65%;
    top: 500px;
  }
}

.proj-cont {
  background-color: $sec-black;
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 15px;

  @include media("<=laptop") {
    height: 220px;
    width: 220px;
  }
  @include media("<=Ldesktop", ">laptop") {
    height: 260px;
    width: 260px;
  }
  @include media("<=bigPhone") {
    height: 270px;
    width: 100%;
  }
}

.proj-grid {
  background-color: $sec-black;
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 15px;
  @include media("<=laptop") {
    height: 220px;
    width: 220px;
  }
  @include media("<=Ldesktop", ">laptop") {
    height: 260px;
    width: 260px;
  }
  @include media("<=bigPhone") {
    height: 270px;
    width: 70%;
  }
}

.proj-cont > h2 {
  color: $prim-pink;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  position: absolute;
  background-color: $sec-black;
  top: 70px;
  margin-left: 20px;
  @include media("<=laptop") {
    font-size: 1.2em;
    top: 60px;
  }
  @include media("<=Ldesktop", ">laptop") {
    font-size: 1.3em;
  }
  @include media("<=bigPhone") {
    font-size: 1.3em;
  }
}

.proj-cont > p {
  position: absolute;
  top: 120px;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  background-color: $sec-black;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: $prim-teal;
  @include media("<=laptop") {
    font-size: 0.8em;
    top: 115px;
  }
  @include media("<=Ldesktop", ">laptop") {
    font-size: 1em;
  }
  @include media("<=bigPhone") {
    font-size: 0.9em;
  }
}

.proj-grid > h2 {
  color: $prim-pink;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  position: absolute;
  background-color: $sec-black;
  top: 70px;
  margin-left: 20px;
  @include media("<=laptop") {
    font-size: 1.2em;
    top: 60px;
  }
  @include media("<=Ldesktop", ">laptop") {
    font-size: 1.3em;
  }
}

.proj-grid > p {
  position: absolute;
  top: 120px;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  background-color: $sec-black;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: $prim-teal;
  @include media("<=laptop") {
    font-size: 0.8em;
    top: 160px;
  }
  @include media("<=Ldesktop", ">laptop") {
    font-size: 1em;
  }
  @include media("<=bigPhone") {
    font-size: 0.9em;
  }
}

.dep-bot {
  position: absolute;
  bottom: 20px;
  list-style: none;
  background-color: $sec-black;
  margin-left: 20px;
  overflow: hidden;
  list-style-type: none;
  @include media("<=laptop") {
    bottom: 10px;
  }
  @include media("<=Ldesktop", ">laptop") {
    bottom: 10px;
  }
}

.dep-bot > li {
  background-color: $sec-black;
  color: $prim-teal;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  font-size: 1.05em;
  opacity: 0.7;
  @include media("<=laptop") {
    font-size: 0.8em;
    margin-right: 10px;
  }
  @include media("<=Ldesktop", ">laptop") {
    font-size: 0.95em;
  }
  @include media("<=bigPhone") {
    font-size: 0.9em;
  }
}
.proj-folder,
.proj-git,
.proj-ext {
  color: $sakura;
  background-color: $sec-black;
  position: absolute;
  @include media("<=laptop") {
    transform: scale(0.8);
  }
  @include media("<=Ldesktop", ">laptop") {
    transform: scale(0.9);
  }
}
.proj-ext {
  right: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
.proj-git {
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}
.proj-folder {
  left: 0;
  margin-left: 20px;
  margin-top: 15px;
}

.proj-hover > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 98%;
  width: 98%;
  border-radius: 15px;
  filter: blur(1px);
  -webkit-filter: blur(2px);
  z-index: 1;
}
.proj-hover > h2 {
  position: absolute;
  z-index: 2;
  color: $prim-pink;
  font-weight: 500;
  font-size: 1.7em;
  text-align: center;
  background-color: transparent;
  width: 100%;
  top: 60px;
  @include media("<=laptop") {
    font-size: 1.4em;
  }
  @include media("<=Ldesktop", ">laptop") {
    font-size: 1.6em;
  }
  @include media("<=bigPhone") {
    font-size: 1.5em;
  }
}
.git-hover {
  z-index: 2;
  background-color: transparent;
  color: $sakura;
  position: absolute;
  bottom: 80px;
  left: 90px;
  @include media("<=laptop") {
    left: 80px;
  }
}
.ext-hover {
  z-index: 2;
  background-color: transparent;
  color: $sakura;
  position: absolute;
  bottom: 80px;
  right: 70px;
  @include media("<=laptop") {
    right: 100px;
  }
  @include media("<=bigPhone") {
    right: 70px;
  }
}
.hover2 > img {
  height: 50%;
}
.hover2 > h2 {
  top: 40px;
}
.hover2 .git-hover,
.hover3 .git-hover {
  left: 130px;
  bottom: 95px;
  @include media("<=laptop") {
    left: 110px;
  }
  @include media("<=Ldesktop", ">laptop") {
    left: 120px;
  }
  @include media("<=bigPhone") {
    left: 125px;
  }
}
