@import "./Styles/Variables/Variables.scss";
@import "./Styles/breakpoints.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-main;
}
.App {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.35em;
}
body::-webkit-scrollbar-track {
  background: $sec-black;
}

body::-webkit-scrollbar-thumb {
  background: $sakura;
}
